$ui-base-color: #095466;
$ui-secondary-color: #4398ac;
$ui-highlight-color: #82dce2;
$simple-background-color: #dcffff;
$error-value-color: #55a7b1;
$valid-value-color: #386db1;
$base-overlay-background: #000000;
$account-desc-color: #82dce2;

@import 'application';