$ui-base-color: #f0f0f0;
$ui-secondary-color: #2e2e2e;
$ui-primary-color: #2e2e2e;
$ui-highlight-color: #858585;
$base-overlay-background: #000000;
$account-desc-color: #858585;
$id-color: #bababa;
$ui-border-color: #000000;
$button-color: #446bd0;
$column-header-color: #da4b48;
$ui-drawer-color: #ffffff;

@import 'application';