$ui-base-color:           #ffffff;
$ui-secondary-color:      #b89b7f;
$ui-primary-color:        #9d8064;
$base-border-color:       #b27f4c;
$simple-background-color: #ffffff;
$primary-text-color:      #482715;


@import 'application';