$ui-base-color: #658552; /*BACKGROUND*/
$ui-secondary-color: #94d398; /*GREEN-URL*/
$ui-highlight-color: #49794d; /*BUTTON*/
$base-border-color: #00ffff; /*SKYBLUE-UNUSED*/
$error-value-color: #2d492d; /*ERROR*/
$valid-value-color: #54885e; /*MATTYA*/
$base-overlay-background: #000000; /*BLACK*/


@import 'application';