$ui-base-color:           #FF0000; /*RED*/
$ui-secondary-color:      #00FF00; /*GREEN*/
$ui-primary-color:        #0000FF; /*BLUE*/
$ui-highlight-color:      #FFFF00; /*YELLOW*/
$base-border-color:       #00FFFF; /*SKYBLUE*/
$simple-background-color: #FF00FF; /*MAGENTA*/
$primary-text-color:      #6600FF; /*PURPLE*/
$error-value-color:       #00FFB5; /*EMERALD*/
$valid-value-color:       #54885E; /*MATTYA*/
$base-shadow-color:       #ff7900; /*ORANGE*/
$base-overlay-background: #000000; /*BLACK*/

@import 'application';