$ui-base-color: #ff0000; /*RED*/
$ui-secondary-color: #00ff00; /*GREEN*/
$ui-primary-color: #0000ff; /*BLUE*/
$ui-highlight-color: #ffff00; /*YELLOW*/
$base-border-color: #00ffff; /*SKYBLUE*/
$simple-background-color: #ff00ff; /*MAGENTA*/
$primary-text-color: #6600ff; /*PURPLE*/
$error-value-color: #00ffb5; /*EMERALD*/
$valid-value-color: #54885e; /*MATTYA*/
$base-shadow-color: #ff7900; /*ORANGE*/
$base-overlay-background: #ffffff; /*WHITE*/
$account-desc-color: #000000;
$id-color: #000000;
$ui-border-color: #000000;

@import 'application';